body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  font-size: 24px;
  margin: 10px 10px 10px 42px;
}

.outer-container {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .outer-container {
    display: flex;
    flex-direction: column;
  }
}

.inner-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  margin: 10px 24px 40px 24px;
  padding: 0;
  overflow: hidden;
  box-shadow: 10px 10px 40px -20px rgba(0, 0, 0, 0.75);
}

.wrapper__left {
  display: flex;
  flex: 9;
}

.wrapper__right {
  display: flex;
  flex: 1;
  flex-shrink: 0.5;
  flex-direction: column;
  align-items: center;
  background: #f0f0f0;
}

.wrapper__textarea {
  width: 100%;
  height: 250px;
  margin: 10px;
  padding: 10px;
  border: 0;
  outline: 0;
  resize: none;
}

.wrapper__close-button {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 40px;
  padding: 0;
  margin-top: 20px;
  line-height: 20px;
  img {
    width: 24px;
    opacity: 0.5;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

.wrapper__transfer-button {
  display: flex;
  flex: 9;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 40px;
  line-height: 20px;
  img {
    width: 24px;
    opacity: 0.5;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

.wrapper__copy-button {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 40px;
  padding: 0;
  margin-top: 20px;
  line-height: 20px;
  img {
    width: 24px;
    opacity: 0.7;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

.gray-bg {
  background-color: #f0f0f0;
}

.react-tooltip-lite {
  background: #333;
  color: white;
  border-radius: 2px;
  font-size: 12px;
}

.react-tooltip-lite-arrow {
  border-color: #333;
}

.info-template__container {
  display: inline-block;
}

.info-template__button {
  display: inline-block;
  background: #0d93bf;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  text-align: center;
  padding: 0;
  margin: 1px 5px;
}

.info-template__inner-container {
  display: flex;
  flex-direction: row;
  span {
    color: #fafafa;
    white-space: pre-wrap;
  }
  .left {
    display: flex;
    flex: 1;
    align-items: center;
  }
  .middle {
    display: flex;
    align-items: center;
    margin: 0 20px;
    img {
      width: 24px;
    }
  }
  .right {
    display: flex;
    align-items: center;
  }
}

.options-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 24px 24px;
}

.option-container {
  margin: 8px;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
  label {
    display: flex;
    align-items: center;
    padding: 16px;
  }
}

.github {
  text-align: center;

  img {
    transition-duration: 0.3s;
    opacity: 0.3;
    &:hover {
      opacity: 1;
    }
  }
}
